.profile {
  width: 600px;
  padding: 20px;
  background-color: #f7f6f6d4;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.wrapAvatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
}

.description {
}
.name {
}
